.container{
    width: 1170px;
    margin: 0px auto;
}
.container-fluid{
    width: 100%;
}

/* common-class */
.flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-direction-row {
    flex-direction: row;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-flex-end{
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.flex-wrap-wrap {
    flex-wrap: wrap;
}

.align-items-center {
    align-items: center;
}

.align-items-flex-end {
    align-items: flex-end;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.overflow-hidden {
    overflow:hidden;
}

.text-align-center {
    text-align: center;
}

.cursor-pointer {
    cursor: pointer;
}

.outline-none {
    outline: none;
}
