/* page[dentis] */

/* top-nav-bar */

#top-nav-bar{
    background:#fcfcfc;
    border-bottom: 1px solid #f0f0f0;
    padding: 15px 0px;
}
.service-number i{
    color: #0392ce;
    font-size: 18px;
}
.service-number span {
    margin-left: 5px;
    color:#848484;
    font-family: 'Hind', sans-serif;
    font-size: 16px;
}
.icons {
    margin: 0px;
    list-style-type: none;
}
.icons li {
    margin: 0px 15px;
}
.icons li a{
    color: #848484;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}
.icons li a:hover{
    color: #0392ce;
}

/* call-adress */

#hospital-about{
    background:#ffffff;
    padding: 28px 0px;
}
.call-adress-info{
    width: 95%;
}
.info-one{
    width: 215px;
    position: relative;
}
.info-one i{
    color: #0392ce;
    font-size: 55px;
    margin-left: 30px;
}
.info-one h3{
    position: absolute;
    top: 0px;
    right: 55px;
    color: #0392ce;
    font-size: 16px;
}
.info-one span{
    position: absolute;
    left: 68px;
    bottom: 5px;
    color: #848484;
    font-size: 16px;
}
.info-two{
    width: 255px;
    position: relative;
    border-left: 1px solid #f0f0f0;
    border-right:1px solid #f0f0f0;
}
.info-two i{
    color: #0392ce;
    font-size: 50px;
    margin-left: 25px;
}
.info-two h3{
    position: absolute;
    top: 0px;
    left: 65px;
    color: #0392ce;
    font-size: 16px;
}
.info-two span{
    position: absolute;
    left: 65px;
    bottom: 5px;
    color: #848484;
    font-size: 16px;
}
.info-three{
    width: 300px;
    position: relative;
}
.info-three i{
    color: #0392ce;
    font-size: 45px;
    margin: 3px 0px 0px 25px;
}
.info-three h3{
    position: absolute;
    top: 0px;
    left: 80px;
    color:#0392ce;
}
.info-three span{
    position: absolute;
    bottom: 6px;
    left: 80px;
    color: #848484;
}
.info-three a button{
    position: absolute;
    right: -62px;
    top: 0px;
    padding: 18px;
    background: #ffffff;
    color: #848484;
    border: 1px solid #f0f0f0;
    cursor: pointer;
    transition: all 500ms ease;
}
.info-three a button:hover{
    color: #fcfcfc;
    background: #0392ce;
}

/* menu-bar */

#menu-bar{
    padding: 15px 0px;
    background: #ffffff;
    border-top: 1px solid #f0f0f0;
}
.menu-list ul li{
    list-style-type: none;
}
.menu-list ul li a span{
    color: #0392ce;
    font-size: 18px;
}
.menu-list ul li a{
    color: #222222;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    transition: all 500ms ease 0s;
    padding: 31px 0px;
}
.menu-list ul li a:hover{
    color: #0392ce;
    border-top: 1px solid #0392ce;
}
.click-menu{
    position: absolute;
    top: -17px;
    right: 0px;
    padding: 30px 50px;
    border: 2px solid #0392ce;
    background: #0392ce;
    cursor: pointer;
    transition: all 500ms ease;
}
.click-menu a{
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
.click-menu:hover {
    background:#222222;
    color:#fff;
}

/* dentis */

#dentis{
    height: 310px;
    background: url(../images/d5.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
}
.dentis-taq{
    position: absolute;
    top: 43%;
    left: 43%;
}
.dentis-taq h1{
    color: #0392ce;
    font-size: 48px;
    line-height: 50px;
    text-transform: capitalize;
}

/* appointment */

#appointment{
    padding: 30px 0px;
    margin-bottom: 80px;
    background: #0392ce;
}
.appointment-text h2{
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
}
.appointment-button a{
    padding: 12px 25px 10px;
    margin: -8px 0px;
    display: block;
    text-decoration: none;
    color: #ffffff;
    background:#0087c0;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 30px;
    border: 2px solid #1b9bd1;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    transition: all 500ms ease;
}
.appointment-button a:hover{
    background: #222222;
}
/* dentis-area */
#department-area{
    margin-bottom: 80px;
}
.all-department ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.all-department ul li{
    border: 1px solid #f0f0f0;
}
.department span{
    position: absolute;
    right: 10px;
    top: 20px;
    color: #ffffff;
}
.department h3{
    background: #0392ce;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform:capitalize;
    display: block;
    padding: 17px 20px 16px;
}
.department-item h3{
    color: #848484;
    font-size: 18px;
    font-weight: 300;
    padding: 17px 20px 16px;
    cursor: pointer;
    text-transform: capitalize;
}
.department-item{
    position: relative;
}
.department-item a span{
    position: absolute;
    right: 10px;
    top: 20px;
    color: #848484;
}
.department-item a{
    text-decoration: none;
}
.department-item:hover h3{
    color: #0392ce;
}
.department-item:hover span{
    color: #0392ce;
}
.department-image{
    width: 100%;
    height: 371px;
    margin-left: 20px;
}
.department-image img{
    width: 100%;
    height: 371px;
    object-fit: cover;
}

/* table */
.single-box{
    border: 1px solid #f0f0f0;
    margin: 0px 20px;
}
.single-box h3{
    font-size: 20px;
    font-weight: 400;
    color: #222222;
    text-align: center;
    padding: 17px 0 15px;
    display: block;
}
.single-box ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.single-box ul li{
    border-top: 1px solid #f0f0f0;
    padding: 14px 20px 12px;
    font-size: 16px;
    color: #848484;
    line-height: 26px;
    font-weight: 300;
}